<div class="scroll-item-container">
  <div class="scroll-header-container">
    <div class="scroll-item-title-container">
        <h1>{{ scrollItemTitle }}</h1>
    </div>
    <div class="arrow-container" (click)="updateScrollItemExpand()">
        <div *ngIf="!scrollItemExpand">
            <i class="fa-solid fa-angles-down"></i>
        </div>
        <div *ngIf="scrollItemExpand">
            <i class="fa-solid fa-angles-up"></i>
        </div>
    </div>
  </div>
  <div class="scroll-data-container" [@slideDown]="scrollItemExpand ? 'B' : 'A'">
        <ng-container *ngComponentOutlet="displayComponent"></ng-container>
  </div>
</div>