:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.scroll-item-container {
    width: 80%;
    height: 100%;
    background-color: white;
}

.scroll-header-container {
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: solid 1px gray;
    z-index: 1;
}

.scroll-data-container {
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 0.9;
}

.scroll-item-title-container {
    padding-left: 2%;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}