:host {
    background-color: white;
    font-size: smaller;
    margin: 1px;
}

.generic-table-container {
    margin: 1px;
}

.header-container {
    display: flex;
    margin: 0;
    background-color: brown;
    color: white;
    padding: 8px;
}

.data-container {
    margin: 0;
    padding: 3px;
    display: flex;
}

.value-container {
    cursor: pointer;
    background-color: #dadada;
    padding: 3px;
    border-radius: 2px;
}

.action-button-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.edit-check-button, .delete-button {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

.edit {
    color: rgb(36, 36, 163);
}
.check {
    color: green;
}

.delete {
    color: brown;
}

.header-row {
    display: grid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-container:first-child {
    border-top-left-radius: 10px;
}
.header-container:last-child {
    border-top-right-radius: 10px;
}

.data-row {
    display: grid;
    background-color: white;
    border-bottom: solid 1pt gray;
    border-left: solid 1pt gray;
    border-right: solid 1pt gray;
}

.data-row:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}