:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    justify-content: center;
    align-items: center;
}
.summary-table-container, .day-summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-table, .daily-summary-table {
    width: 90%;
    border: none;
}

.table-header-row {
    text-align: center;
    padding: 5px;
}

td {
    padding-left: 10px;
    border: none;
}