<div class="container">
  <div></div>
  <div class="summary-table-container">
    <table class="summary-table">
      <tr class="table-header-row">
        <td colspan="2">Your Summary</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">A</td>
        <td class="data-value">1</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">B</td>
        <td class="data-value">1</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">C</td>
        <td class="data-value">3</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">D</td>
        <td class="data-value">4</td>
      </tr>
    </table>
  </div>
  <div class="day-summary-container">
    <table class="daily-summary-table">
      <tr class="table-header-row">
        <td colspan="2">Daily Budget Summary</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">A</td>
        <td class="data-value">1</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">B</td>
        <td class="data-value">1</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">C</td>
        <td class="data-value">3</td>
      </tr>
      <tr class="data-row">
        <td class="data-name">D</td>
        <td class="data-value">4</td>
      </tr>
    </table>
  </div>
  <div></div>
</div>
