<div class="application-container">
  <div class="title-section">Budget Buddy</div>
  <div class="scroll-items-container">
    <div class="scroll-item-container">
      <app-scroll-item
        [scrollItemTitle]="accountsScrollTitle"
      ></app-scroll-item>
    </div>
    <div class="scroll-item-container">
      <app-scroll-item
        [scrollItemTitle]="budgetCalendarScrollTitle"
      ></app-scroll-item>
    </div>
    <div class="scroll-item-container">
      <app-scroll-item
        [scrollItemTitle]="transactionsScrollTitle"
      ></app-scroll-item>
    </div>
  </div>
</div>
