:host {
    display: flex;
    width: 100%-4px;
    height: 100%-2px;
    margin: 2px;
    margin: 4px;
}

.calendar-item-container {
    width: 100%;
    display: grid;
    border-radius: 5%;
}


.action-container {
    display: grid;
    grid-template-rows: 33% 33% 34%;
}

.balance-container {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: lighter;
}


.balance-container, .detail-button-container, .add-button-container, .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}
