:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.calendar-item-container {
    width: 100%;
    background-color: #d9d1bf;
    display: grid;
    border: solid 3px black;
}


.calendar-item-container:hover {
    background-color: rgb(249, 235, 235);
}

.action-container {
    display: grid;
    grid-template-rows: 33% 33% 34%;
}

.balance-container {
    transform: scaleY(1.4);
    font-family: monospace;
    font-weight: bolder;
}

h1 {
    font-weight: lighter;
}


.balance-container, .detail-button-container, .add-button-container, .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.detail-button-container {
    cursor: pointer;
}

.add-button-container {
    cursor: pointer;
}