<div class="calendar-item-container" (mouseover)="setHoverFlagTrue()" (mouseleave)="setHoverFlagFalse()"
    [ngStyle]="this.hoverFlag ? calendarItemContainerStylesHover : calendarItemContainerStyles">
    <div class="balance-container">
      <h1>${{calendarBalance}}</h1>
    </div>
    <div class="action-container">
      <div class="detail-button-container">
        <div [ngStyle]="this.hoverFlag ? detailButtonStylesHover : detailButtonStyles"
            (click)="getDetailEvent()">
            <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div class="add-button-container">
        <div [ngStyle]="this.hoverFlag ? addButtonStylesHover : addButtonStyles"
            (click)="addEvent()">
            <i class="fa-regular fa-calendar-plus"></i>
        </div>
      </div>
      <div class="date-container" [ngStyle]="calendarDateStyles"><p>{{calendarDate}}</p></div>
    </div>
</div>
