:host {
    height: 90%;
    width: 80%;
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% 8% 84%;
    margin: 10px;
}

.month-row {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.week-row {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.dates-div {
    display: grid;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.dates-row {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.calendar-item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}