:host {
    height: 90%;
    width: 80%;
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% 8% 84%;
    font-size: smaller;
}

.month-row {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.week-row {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    margin-bottom: 1vh;
}

.dates-div {
    display: grid;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.dates-row {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    margin-bottom: 1vh;
}

.dates-column {
    height: 100%;
    margin-right: 0.5vw;
}


.data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.arrow-container, .month-container{
   margin-right: 0.5vw;
   border-radius: 5px;
   margin-bottom: 0.4vh;
   border: solid 1px brown;
}

.weekday-container {
    margin-top: 0.5vh;
    border-radius: 5px;
    margin-right: 0.5vw;
    border: solid 1px brown;
}

.calendar-item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}