<div class="calendar-container">
    <div class="month-row">
        <div>
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div>
            {{ this.month_strings[this.selected_month] }}
        </div>
        <div>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="week-row">
        <div *ngFor="let day of days_strings">{{ day }}</div>
    </div>
    <div class="dates-div">
        <div class="dates-row" *ngFor="let week of calendar_dates_lists">
            <div class="calendar-item-date" *ngFor="let day of week">
                <div class="calendar-item-container">{{day.getDate()}}</div>
            </div>
        </div>
    </div>
</div>