:host {
  display: flex;
  width: 70%;
  height: 90%;
  margin-top: 1%;
  margin-bottom: 9%;
  background-image: url("../../../public/Background-grid.png");
  border-radius: 15px;
}

.calendar-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.calendar-grid {
  display: grid;
  width: 100%;
  padding: 5px;
}

.calendar-row {
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.calendar-column {
  margin-left: 6px;
  margin-right: 6px;
}
